# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Source code
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf

# Documentation
*.txt text eol=lf
LICENSE text eol=lf
README text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.gz binary
*.tar binary
*.zip binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary

# Videos
*.mp4 binary
*.webm binary

# Language statistics (for GitHub)
*.css linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=true
